<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/app.js" charset="utf-8"></script>
  </head>

  <body>
    <header class="App-header">

      <div>
        <h1 class="crypto_bulls">Crypto Bull</h1>
        <img src="bitcoin.png" alt="" class="logo">
      </div>
      <div class="navigationDiv">
      <ul>
          <li><a class="navLink" href='/'>&nbsp;Home </a></li><span class="pipe">|</span>
        <% if (!user) { %>
          <li><a class="navLink" href='/portfolio'>&nbsp;Portfolio </a></li><span class="pipe">|</span>
          <li><a class="navLink cTab" href='/favorites'>&nbsp;Favorites </a></li><span class="pipe">|</span>
        <%  } else { %>
          <li><a class="navLink" href='/portfolio/<%= user._id.toString() %>'>&nbsp;Portfolio </a></li><span class="pipe">|</span>
          <li><a class="navLink cTab" href='/favorites/<%= user._id.toString() %>'>&nbsp;Favorites </a></li><span class="pipe">|</span>
        <%  } %>
          <li><a class="navLink" href='/news'>&nbsp;News </a></li><span class="pipe">|</span>
        <% if (user == undefined) { %>
          <li><a class="navLink" href='/signup'>&nbsp;Sign Up </a></li><span class="pipe">|</span>
          <li><a class="navLink" href='/login'>&nbsp;Log In</a></li>
        <%  } else { %>
          <li><a class="navLink" href='/user/<%= user._id.toString() %>'>&nbsp;Profile </a></li><span class="pipe">|</span>
          <li><a class="navLink" href='/logout'>&nbsp;Logout </a></li>
        <%  } %>

      </ul>
    </div>
    </header>
    <section class="body">
    <% if (user) { %>
      <% if (favs.length < 1) { %>
        <p>You have no favorites</p>
      <%  } else { %>
        <p class="toggle">Toggle (% Change): <span class="oneday gray">1 Day </span><span> | </span><span class="sevenday"> 7 Days</span></p>
        <table cellspacing="0">
         <tbody class="tbl_header">
           <tr class="table_head">
              <th class="tableHeader">Rank</th>
              <th class="tableHeader">Name</th>
              <th class="tableHeader">Symbol</th>
              <th class="tableHeader">Price USD</th>
              <th class="tableHeader">Price BTC</th>
              <th class="tableHeader">Market Cap</th>
              <th class="tableHeader 1day">% Change 1d</th>
              <th class="tableHeader 7day hide">% Change 7d</th>
              <th class="tableHeader">Remove</th>
           </tr>
           <% for (index = 0; index < favs.length; index++) { %>
             <% for (i = 0; i < coinIds.length; i++) { %>
               <%  if (coinIds[i].symbol === favs[index].symbol) { %>
                <tr class="table-row">
                  <td><%= coinIds[i].rank %> </td>
                  <td><%= coinIds[i].name %> </td>
                  <td><%= coinIds[i].symbol %> </td>
                  <td>$<%= coinIds[i].price_usd %> </td>
                  <td><%= coinIds[i].price_btc %> </td>
                  <% if (coinIds[i].market_cap_usd === null) { %>
                    <td>$0</td>
                  <%  } else { %>
                    <td><%= parseFloat(coinIds[i].market_cap_usd).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> </td>
                  <%  } %>
                  <td class="1d"><%= coinIds[i].percent_change_24h %>%</td>
                  <td class="7d hide"><%= coinIds[i].percent_change_7d %>%</td>
                  <td>
                    <form method='POST' action='/deleteFromFavorites?_method=PUT' class="flexform">
                      <input type="submit" value='x' class="deleteFav"></input>
                      <input type='hidden' name='_id' value='<%= favs[index]._id %>'></input>
                    </form>
                  </td>
                </tr>
               <%  } %>
             <%  } %>
           <%  } %>
         <%  } %>
         </tbody>
        </table>
    <% } else { %>
      <p>You must sign in to access this feature</p>
      <div class="footerAlignmentTwo">
      </div>
      <% } %>
    </section>
    <div class="footerAlignmentTwo">
    </div>
    <footer>
      <br>
      <div class="social"> <span class="contactme">Contact Me</span>
        <br>
        <a href="https://www.linkedin.com/in/huntercote/" target="_blank"><i class="fab fa-linkedin" style="font-size:36px; color: white"></i></a>
        <a href="https://github.com/hcote" target="_blank"><i class="fab fa-github" style="font-size:36px; color: white"></i></a>
        <a href="mailto:hcote12@gmail.com" target="_blank"><i class="fa fab fa-envelope" style="font-size:36px; color: white"></i></a>
        <br>
        <br>
        <span class="copyright">&#169; Hunter Cote 2018</span>
      </div>
      <br>
    </footer>
  </body>
</html>
