<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style/style.css">

  </head>
  <body>
    <header class="App-header">
      <div>
        <h1 class="App-title">BitCheck</h1>
      </div>
      <ul>
        <li><a class="navLink" href='/'>Home</a></li>
        <li><a class="navLink" href='/portfolio'>Portfolio</a></li>
        <li><a class="navLink" href='/favorites'>Favorites</a></li>
        <li><a class="navLink" href='/forums'>Forums</a></li>
        <li><a class="navLink" href='/news'>News</a></li>
        <% if (user == undefined) { %>
        <li><a class="navLink" href='/signup'>Sign Up</a></li>
        <li><a class="navLink" href='/login'>Log In</a></li>
        <%  } else { %>
        <li><a class="navLink" href='/user/'>Profile</a></li>
        <li><a class="navLink" href='/logout'>Logout</a></li>
        <%  } %>      </ul>
    </header>
    <% if (user) { %>
        <table>
          <tbody class="tbl_header">
            <tr class="table_head">
               <th className="tableHeader">Rank</th>
               <th className="tableHeader">Name</th>
               <th className="tableHeader">Symbol</th>
               <th className="tableHeader">Price $</th>
               <th className="tableHeader">Price BTC</th>
               <th className="tableHeader">24h Volume</th>
               <th className="tableHeader">Market Cap</th>
               <th className="tableHeader">Change 1 Day</th>
               <th className="tableHeader">Change 7 Days</th>
            </tr>
            <% for (index = 0; index < favs.length; index++) { %>
              <% for (i = 0; i < coinIds.length; i++) { %>
                <%  if (coinIds[i].symbol === favs[index].symbol) { %>
            <tr>
            <td><%= coinIds[i].rank %> </td>
            <td><%= coinIds[i].name %> </td>
            <td><%= coinIds[i].symbol %> </td>
            <td><%= coinIds[i].price_usd %> </td>
            <td><%= coinIds[i].price_btc %> </td>
            <td>Volume</td>
            <td><%= coinIds[i].market_cap_usd %> </td>
            <td><%= coinIds[i].percent_change_24h %>%</td>
            <td><%= coinIds[i].percent_change_7d %>%</td>
          </tr>
              <%    } %>
            <%    } %>
          <%    } %>
        </tbody>
      </table>
      <input type="button" name="" value="View Graph" class="table_row">
      <% } else { %>
      <p>You must sign in to access this feature</p>
      <% } %>
  </body></html>
