<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/app.js" charset="utf-8"></script>
  </head>

  <body>
    <header class="App-header">

      <div>
        <h1 class="crypto_bulls">Crypto Bull</h1>
        <img src="bitcoin.png" alt="" class="logo">
      </div>
      <div class="navigationDiv">
        <ul>
            <li><a class="navLink cTab" href='/'>&nbsp;Home </a></li><span class="pipe">|</span>
          <% if (!user) { %>
            <li><a class="navLink" href='/portfolio'>&nbsp;Portfolio </a></li><span class="pipe">|</span>
            <li><a class="navLink" href='/favorites'>&nbsp;Favorites </a></li><span class="pipe">|</span>
          <%  } else { %>
            <li><a class="navLink" href='/portfolio/<%= user._id.toString() %>'>&nbsp;Portfolio </a></li><span class="pipe">|</span>
            <li><a class="navLink" href='/favorites/<%= user._id.toString() %>'>&nbsp;Favorites </a></li><span class="pipe">|</span>
          <%  } %>
            <li><a class="navLink" href='/news'>&nbsp;News </a></li><span class="pipe">|</span>
          <% if (user == undefined) { %>
            <li><a class="navLink" href='/signup'>&nbsp;Sign Up </a></li><span class="pipe">|</span>
            <li><a class="navLink" href='/login'>&nbsp;Log In</a></li>
          <%  } else { %>
            <li><a class="navLink" href='/user/<%= user._id.toString() %>'>&nbsp;Profile </a></li><span class="pipe">|</span>
            <li><a class="navLink" href='/logout'>&nbsp;Logout </a></li>
          <%  } %>
        </ul>
      </div>
    </header>
    <section class="body">
      <p class="toggle">Toggle (% Change): <span class="oneday gray">1 Day </span><span> | </span><span class="sevenday"> 7 Days</span></p>
      <table cellspacing="0">
        <tbody class="tbl_header">
          <tr class="table_head">
            <th class="tableHeader">Rank</th>
            <th class="tableHeader">Name</th>
            <th class="tableHeader">Symbol</th>
            <th class="tableHeader">Price USD</th>
            <th class="tableHeader">Price BTC</th>
            <th class="tableHeader">24h Volume</th>
            <th class="tableHeader">Market Cap</th>
            <th class="tableHeader 1day">% Change 1d</th>
            <th class="tableHeader 7day hide">% Change 7d</th>
            <th class="tableHeader">Portfolio</th>
            <th class="tableHeader">Favorite</th>
          </tr>
          <% for (let coin of coins) { %>
            <tr class="table-row">
              <td><%= coin.rank %> </td>
              <td><%= coin.name %> </td>
              <td><%= coin.symbol %> </td>
              <td>$<%= coin.price_usd %> </td>
              <td><%= coin.price_btc %> </td>
              <td></td>
            <% if (coin.market_cap_usd === null) { %>
              <td>$0</td>
            <%  } else { %>
              <td>$<%= parseFloat(coin.market_cap_usd).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> </td>
            <%  } %>
              <td class="1d"><%= coin.percent_change_24h %>%</td>
              <td class="7d hide"><%= coin.percent_change_7d %>%</td>
              <td>
                <form method='POST' action='/addToPortfolio' class="flexform">
                  <input type='number' step="0.00001" name='qty' class="portfolioInput" autocomplete="off"></input>
                  <% if (!user) { %>
                    <input type='button' class='notUser' value='Add' disabled></input>
                  <%  } else { %>
                    <input type='submit' class='btn submit' value='Add'></input>
                  <%  }  %>
                  <input type='hidden' name='symbol' value='<%= coin.symbol %>'></input>
                </form>
              </td>
              <td>
                <form method='POST' action='/addToFavorites'>
                <% if (!user) { %>
                  <input type='button' value='☆' class="notUser2" disabled></input>
                <%  } else { %>
                  <input type='submit' value='☆' class="star"></input>
                <%  }  %>
                  <input type='hidden' name='symbol' value='<%= coin.symbol %>'></input>
                </form>
              </td>
            </tr>
          <%  } %>
        </tbody>
      </table>
    </section>
    <footer>
      <br>
      <div class="social"> <span class="contactme">Contact Me</span>
        <br>
        <a href="https://www.linkedin.com/in/huntercote/" target="_blank"><i class="fab fa-linkedin" style="font-size:36px; color: white"></i></a>
        <a href="https://github.com/hcote" target="_blank"><i class="fab fa-github" style="font-size:36px; color: white"></i></a>
        <a href="mailto:hcote12@gmail.com" target="_blank"><i class="fa fab fa-envelope" style="font-size:36px; color: white"></i></a>
        <br>
        <br>
        <span class="copyright">&#169; Hunter Cote 2018</span>
      </div>
      <br>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.js" charset="utf-8"></script>
  </body>
</html>
