<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style/style.css">
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/app.js" charset="utf-8"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js" integrity="sha384-lZmvU/TzxoIQIOD9yQDEpvxp6wEU32Fy0ckUgOH4EIlMOCdR823rg4+3gWRwnX1M" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="App-header">

      <div>
        <h1 class="App-title">App Title Here</h1>
        <% if (user == undefined) { %>
          <h3>Welcome</h3>
          <%  } else { %>
        <h3>Hello <%= user._id %></h3>
        <%  } %>
      </div>
      <ul>
        <li><a class="navLink" href='/'>Home</a></li>
        <% if (user == undefined) { %>
        <li><a class="navLink" href='/portfolio/>'>Portfolio</a></li>
        <%  } else { %>
        <li><a class="navLink" href='/portfolio/<%= user._id.toString() %>'>Portfolio</a></li>
        <%  } %>
        <li><a class="navLink" href='/favorites'>Favorites</a></li>
        <li><a class="navLink" href='/forums'>Forums</a></li>
        <li><a class="navLink" href='/news'>News</a></li>
        <% if (user == undefined) { %>
        <li><a class="navLink" href='/signup'>Sign Up</a></li>
        <li><a class="navLink" href='/login'>Log In</a></li>
        <%  } else { %>
        <li><a class="navLink" href='/user/<%= user._id.toString() %>'>Profile</a></li>
        <li><a class="navLink" href='/logout'>Logout</a></li>
        <%  } %>

      </ul>
    </header>



    <input type="button" name="" value="Refresh Data" method="POST" action="/all/coins"></input>
    <table>
      <tbody class="tbl_header">
        <tr class="table_head">
           <th className="tableHeader">Rank</th>
           <th className="tableHeader">Name</th>
           <th className="tableHeader">Symbol</th>
           <th className="tableHeader">Price $</th>
           <th className="tableHeader">Price BTC</th>
           <th className="tableHeader">24h Volume</th>
           <th className="tableHeader">Market Cap</th>
           <th className="tableHeader">Change 1 Day</th>
           <th className="tableHeader">Change 7 Days</th>
           <th className="tableHeader">More</th>
        </tr>
        <tr>
        <% for (let coin of coins) { %>
          <td><%= coin.rank %> </td>
          <td><%= coin.name %> </td>
          <td><%= coin.symbol %> </td>
          <td><%= coin.price_usd %> </td>
          <td><%= coin.price_btc %> </td>
          <td>Volume</td>
          <td><%= coin.market_cap_usd %> </td>
          <td><%= coin.percent_change_24h %> </td>
          <td><%= coin.percent_change_7d %> </td>
          <td>
            <form method='POST' action='/addCoin'>
                <input type='submit' class='btn' value='Add To Portfolio'></input>
                <input type='text' name='qty'></input>
                <input type='hidden' name='symbol' value='<%= coin.symbol %>'></input>
            </form>

                                  <!-- <button class="trigger">Click here to trigger the modal!</button> -->
                                  <!-- <div class="modal">
                                      <div class="modal-content">
                                          <span class="close-button">&times;</span>
                                          <h1>Hello, I am a modal!</h1>
                                      </div>
                                  </div> -->
         </td>
      </tr>
<%  } %>
      </tbody>
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.js" charset="utf-8"></script>
  </body>
</html>
