<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style/style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <header class="App-header">
      <div>
        <h1 class="App-title">BitCheck</h1>
      </div>
      <ul>
        <li><a class="navLink" href='/'>Home</a></li>
        <li><a class="navLink" href='/portfolio'>Portfolio</a></li>
        <li><a class="navLink" href='/favorites'>Favorites</a></li>
        <li><a class="navLink" href='/forums'>Forums</a></li>
        <li><a class="navLink" href='/news'>News</a></li>
        <% if (user == undefined) { %>
        <li><a class="navLink" href='/signup'>Sign Up</a></li>
        <li><a class="navLink" href='/login'>Log In</a></li>
        <%  } else { %>
        <li><a class="navLink" href='/user/<%= user._id.toString()%>'>Profile</a></li>
        <li><a class="navLink" href='/logout'>Logout</a></li>
        <%  } %>      </ul>
    </header>
    <% if (user) { %>
        <table>
          <tbody class="tbl_header">
            <tr class="table_head">
               <th className="tableHeader">Rank</th>
               <th className="tableHeader">Name</th>
               <th className="tableHeader">Symbol</th>
               <th className="tableHeader">Price $</th>
               <th className="tableHeader">Price BTC</th>
               <th className="tableHeader">24h Volume</th>
               <th className="tableHeader">Market Cap</th>
               <th className="tableHeader">Change 1 Day</th>
               <th className="tableHeader">Change 7 Days</th>
               <th className="tableHeader">Quantity</th>
               <th className="tableHeader">Value</th>
            </tr>
            <% for (i = 0; i < coinIds.length; i++) { %>
            <tr>
            <td><%= coinIds[i].rank %> </td>
            <td><%= coinIds[i].name %> </td>
            <td><%= coinIds[i].symbol %> </td>
            <td><%= coinIds[i].price_usd %> </td>
            <td><%= coinIds[i].price_btc %> </td>
            <td>Volume</td>
            <td><%= coinIds[i].market_cap_usd %> </td>
            <td><%= coinIds[i].percent_change_24h %> </td>
            <td><%= coinIds[i].percent_change_7d %> </td>
            <td><%= coinIds[i].qty %></td>
            <td> <%= coinIds[i].qty * coinIds[i].price_usd  %> </td>
          </tr>
          <%    } %>
        </tbody>
      </table>
      <div id="chart_div" style="width: 900px; height: 500px;"></div>
      <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
      <% } else { %>
      <p>You must sign in to access this feature</p>
      <% } %>
      <script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Total Value', 'Percent of Value'],
      ['NEO',     11],
      ['Monero',      2],
      ['Bitcoin',  2],
      ['0x', 2],
      ['Ethereum',    7]
    ]);

    var options = {
      title: 'Portfolio Breakdown',
      is3D: true,
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }
</script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Month', 'Value'],
      ['Nov',  1000],
      ['Dec',  1170],
      ['Jan',  660],
      ['Feb',  1030],
      ['March', 1000]
    ]);

    var options = {
      title: 'Portfolio Performance',
      hAxis: {title: 'Month',  titleTextStyle: {color: '#333'}},
      vAxis: {minValue: 0}
    };

    var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
  </body>
</html>
